@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&family=Nunito:wght@200;300;400;700&family=Open+Sans:wght@300;500;600;700&family=Red+Rose:wght@300&family=Secular+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat',sans-serif;
    /* background-color: rgb(16, 16, 16); */
}



body {
    background-color: rgb(7, 7, 7);
}



.nav-bar {
    margin-top: 10px;
    margin-left: 50px;
    display: flex;
    align-items: center;
}

.list-items {

    display: flex;
    list-style: none;
    margin: 7px;
    margin-left: 589px;
}

nav ul li {
    padding: 40px;
    
    color: white;
}
.cselect::after {
    content: "\25b6"; 
   color:#fff;
   transform: rotate(90deg);
   display: inline-block
   }

   /* visual designer section */
   .navbar-extend{
  
   }

   .navbar-extend .container{
    display: flex;
    align-items: center;

   }

   .navbar-right{
    margin-left: 30px;
    width: 100%;
   margin-bottom: 80px;

  }
  .nav-img1{
    margin-left: 58px;
  }
  .red-btn{
    margin-top: 20px;
    font-size: 16px;
    background-color:#C91B28;
    color:#fff;
    padding: 15px 35px 15px 35px;
  }
  .navbar-right h5{
    font-size: 20px;
    color:#C91B28;
  }
  .navbar-right h1{
    font-size: 67px;
    white-space: nowrap;
    color:#fff;
  }
  .navbar-right h4{
    color:#fff;
    font-weight: 200;
  }
  .light-black{
    height: 950px;
    background-color: rgb(24, 24, 24);
    width: 800px;
  
  }


  /* first cards */

  .card{

    margin-left: 20px;
      width: 310px;
      height: 330px;
      background-color: #303030;
      border-radius: 10px;
    }
    .card:nth-child(2){
      background-color: #cb2c2c;
    }
    .card .know-more:nth-of-type(2){
      background-color: transparent;
      color: #fff;
     
    }
    
    .first-cards{
      background-color: transparent;
      position: absolute;
      top:610px;
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      margin-top: 40px;
     
    }
    .card-title{
    
      padding-top: 30px;
      font-size: 30px;
      margin-left: 30px;
      
    }
    .card-desc{
    
      margin-top: 10px;
      margin-left: 30px;
      font-size: 17px;
      color:#758283;
      font-weight: lighter;
     line-height: 30px;
    }
    .card-head-active{
        color:#fff;
        margin-left: 50px;
        margin-bottom: 10px;
        font-size: 28px;
        background-color: transparent;
      }
      .card-body-active{
        margin-left: 50px;
        color: #fff;
        font-size: 20px;
        background-color: transparent;
      }
      .card-logo{
        margin-top: 30px;
      margin-left: 16px;
      
      filter: invert(32%) sepia(77%) saturate(7471%) hue-rotate(354deg) brightness(91%) contrast(94%);
      }
      .card-logo1{
  
        margin-top: 30px;
        margin-left: 16px;
       
      }
      .know-more{
        font-size:20px;
        margin-left: 50px;
        margin-top: 10px;
        background-color: transparent;
        color:#E21717;
        font-weight: 600;
      }
      .card .know-more:nth-of-type(2){
        background-color: transparent;
        color: #fff;
       
      }


      /* years experience section */
      .second-section{
        display: flex;
        
      }
      .left-sec{
       position: absolute;
       top:1150px;
       left: 320px;
        color:#fff;
        background-color: transparent;
      }
      .card-head-actives{
        background-color: transparent;
        color:#E21717;
        text-indent:0.2em;
        font-size: 150px;
        font-weight: bolder;
      }
      .right-sec{
        position: absolute;
        left:570px;
        top:1120px;
        background-color: transparent;
        width: 700px;
        display: flex;
        flex-wrap: wrap;
      }
      .right-sec .card{
       background-color: #3e3e3e;
        height: 120px;
        margin:10px;
        border-radius: 0% !important;
      }
      .right-sec .card .card-head-active1{
        margin-top: 20px;
        display: block;
        text-indent: 1em;
        font-size: 40px;
        color:#E21717;
        text-align: center;
        background-color: transparent;
      }
      .right-sec .card .card-body-active1{
        display: block;
        text-indent: 1em;
        text-align: center;
        background-color: transparent;
      color:#fff;
      font-size: 20px;
      }
      .left-sec{
        position: absolute;
        top:1150px;
        left: 320px;
         color:#fff;
         background-color: transparent;
       }
       .card-head-actives{
         background-color: transparent;
         color:#E21717;
         text-indent:0.2em;
         font-size: 150px;
         font-weight: bolder;
       } 


/* featured css */
.featured .container{
display: flex;
margin: 20px 20px 0px  480px;

}
.left-f-section{
    color: #fff;
    width: 343px;
}
.left-f-section h3 {
    font-size: 30px;
}
.left-f-section h5 {
margin-top: 10px;
}
.view-btn{
    background-color: rgb(201, 27, 40);
    color: rgb(221, 221, 221);
    margin: 10px 0px;
    border: none;
    padding: 15px;
    width: 152px;
    font-size: 20px;
}

.more-cards{
    display: flex;
    position: absolute;
    top:100px;
    left: 0px;
    flex-wrap: wrap;
  }
  .more-cards h5{
    margin-top: 50px;
    font-size: 20px;
  }
  .card-project{
    margin:70px 30px 30px 0px;
    background-color: #282828;
    width:470px;
    height: 340px;
  }
  .card-project img{
    margin-top: 60px;
    margin-left: 30px;
  }
  

  .featured{
    margin-top: 50px;
    display:flex;
    color:#fff;
  align-items: center;
     width: 70%;
  
    position: absolute;
    left: 330px;
   
  }
  
  .right-f-section button{
  
    text-decoration: none;
    color: #ffffff;
    margin-left: 380px;
    background: #cb2c2c;
    padding: 10px 40px 10px 40px;
    border: 2px solid #cb2c2c;
    font-weight: normal;
    text-transform: uppercase;
  
  }
  .left-f-section h3{
    font-size: 35px;
    font-weight: 900;
  }
  .left-f-section h5{
    font-weight: normal;
   
    margin-top: 12px;
  }
  .more-cards{
    display: flex;
    position: absolute;
    top:100px;
    left: 0px;
    flex-wrap: wrap;
  }
  .more-cards h5{
    margin-top: 50px;
    font-size: 20px;
  }
  .card-project{
    margin:70px 30px 30px 0px;
    background-color: #282828;
    width:470px;
    height: 340px;
  }
  .card-project img{
    margin-top: 60px;
    margin-left: 30px;
  }
  
  .know-more-proj{
    font-size:20px;
  
   
    background-color: transparent;
    color:#E21717;
    font-weight: 600;
  }
  .card-project-sd{
    padding:80px
  }
  .see-more{
    background-color: #3e3e3e;
    display: flex;
    margin-top: -40px;
    margin-left: 200px;
    align-items: center;
    position: absolute;
    top:2800px;
    padding:100px;
  }
  .right-fd-section{
    background-color: transparent;
  }
  .right-fd-section button{
    text-decoration: none;
    color: #ffffff;
    margin-left: 220px;
    background: #cb2c2c;
    padding: 10px 40px 10px 40px;
    border: 2px solid #cb2c2c;
    font-weight: normal;
    text-transform: uppercase;
  }
  .see-more .left-fd-section{
    background-color: transparent;
  
  }
  .left-fd-section h3{
    font-size: 30px;
    background-color: transparent;
    color: #fff;
    margin-bottom: 20px;
  }
  .left-fd-section h5{
    background-color: transparent;
    color:#fff;
  }
    
   @media screen and (max-width:998px) {

     .list-items{
        display:none;

     }
      .logo{
        margin-top: 19px;
      }
      .logo img{
        width: 100px;
      }
   .navbar-extend .container{
    flex-direction: column;
   }


   .nav-img1{
  width: 300px;
  height: 300px;
  }

  .navbar-right{
   text-align: center;
   margin-top: 15px;
  }
  .first-cards{
    flex-direction: column;
    margin-left: 50px;

  }
  .light-black{
    display:none;
    margin-left: 60px;
  }

  .card{
    margin-left: -58px;
    margin-top: 10px;
  }


  .second-section{
    flex-direction: column;
  }
  .left-sec{
    top:1650px;
    left:195px;
    
  }
  .card-head-active{
    margin-right: 60px;
  }
  .right-sec{
    top:1900px;
    left: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vh;
  }

  .more-cards{
    top:1722px;
    left: -280px;
  }
  .featured .left-f-section{
    display: none;
  }
  .featured .right-f-section{
    display: none;
  }



  
   }